<div class="divMain">

  <div class="divColumn1">
    <mat-accordion>

      <mat-expansion-panel [expanded]="model.step === 0" (opened)="setStep(0)">
        <mat-expansion-panel-header>
          <mat-panel-title>Base image</mat-panel-title>
          <mat-panel-description>{{model.imageName}}</mat-panel-description>
        </mat-expansion-panel-header>
        <div class="divExpansionPanel">
          <input #file type="file" accept="image/*" (change)="load(file.files)" />
          <p>Type: {{model.imageType}}</p>
          <p>Width: {{model.imageWidth}} px</p>
          <p>Height: {{model.imageHeight}} px</p>
        </div>
        <mat-action-row>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="model.step === 1" (opened)="setStep(1)">
        <mat-expansion-panel-header>
          <mat-panel-title>Settings</mat-panel-title>
          <mat-panel-description>Bits per RGBA channel: {{model.options.bitsRed}}{{model.options.bitsGreen}}{{model.options.bitsBlue}}{{model.options.bitsAlpha}}</mat-panel-description>
        </mat-expansion-panel-header>
        <div class="divExpansionPanel">
          <mat-checkbox [(ngModel)]="model.livePreview" (change)="rgbaSliderChange()">Live preview</mat-checkbox>
          <mat-checkbox [(ngModel)]="model.rgbLocked" (change)="rgbaSliderChange()">Lock RGB</mat-checkbox>
          <label id="labelBitsRed">Bits per Red subpixel</label>
          <mat-slider thumbLabel tickInterval="1" min="0" max="8" step="1" value="1" aria-labelledby="labelBitsRed"
            [(ngModel)]="model.options.bitsRed" (change)="rgbaSliderChange()"></mat-slider>
          <label id="labelBitsGreen">Bits per Green subpixel</label>
          <mat-slider thumbLabel tickInterval="1" min="0" max="8" step="1" value="1" aria-labelledby="labelBitsGreen"
            [(ngModel)]="model.options.bitsGreen" (change)="rgbaSliderChange()" [disabled]="model.rgbLocked"></mat-slider>
          <label id="labelBitsBlue">Bits per Blue subpixel</label>
          <mat-slider thumbLabel tickInterval="1" min="0" max="8" step="1" value="1" aria-labelledby="labelBitsBlue"
            [(ngModel)]="model.options.bitsBlue" (change)="rgbaSliderChange()" [disabled]="model.rgbLocked"></mat-slider>
          <label id="labelBitsAlpha">Bits per Alpha subpixel (transparency)</label>
          <mat-slider thumbLabel tickInterval="1" min="0" max="8" step="1" value="1" aria-labelledby="labelBitsAlpha"
            [(ngModel)]="model.options.bitsAlpha" (change)="rgbaSliderChange()"></mat-slider>
          <p>Width: {{model.imageWidth}} px</p>
          <p>Height: {{model.imageHeight}} px</p>
          <p>Capacity: {{model.capacityHuman}}</p>
        </div>
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="model.step === 2" (opened)="setStep(2)">
        <mat-expansion-panel-header>
          <mat-panel-title>Input data</mat-panel-title>
          <mat-panel-description></mat-panel-description>
        </mat-expansion-panel-header>
        <div class="divExpansionPanel">
          <mat-radio-group class="radioGroup" [(ngModel)]="model.dataSource">
            <mat-radio-button value="1" [disabled]="true">File</mat-radio-button>
            <input #file type="file" accept="*/*" [disabled]="model.dataSource!=='1'" />
            <p>Filename: </p>
            <p>Size: </p>
            <mat-radio-button value="2">Text</mat-radio-button>
            <textarea matInput matTextareaAutosize matAutosizeMinRows="4" matAutosizeMaxRows="20"
              [disabled]="model.dataSource!=='2'" [(ngModel)]="model.dataText"></textarea>
            <mat-radio-button value="3">Random</mat-radio-button>
            <p>Fill with random data</p>
          </mat-radio-group>
        </div>
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
        </mat-action-row>
      </mat-expansion-panel>

    </mat-accordion>

    <button mat-flat-button color="primary" (click)="encode()">Encode</button>
  </div>

  <div class="divColumn2">
    <mat-tab-group animationDuration="0ms">
      <mat-tab label="Source">
        <div class="imgbox">
          <img class="center-fit" [src]="model.sourceImageURL" *ngIf="model.sourceImageURL">
        </div>
      </mat-tab>
      <mat-tab label="Encoded">
        <div class="imgbox">
          <img class="center-fit" [src]="model.encodedImageURL" *ngIf="model.encodedImageURL">
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

</div>
