<div class="divMain">

  <div class="divColumn1">
    <mat-accordion>

      <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
        <mat-expansion-panel-header>
          <mat-panel-title>Base image</mat-panel-title>
          <mat-panel-description>{{imageName}}</mat-panel-description>
        </mat-expansion-panel-header>
        <div class="divExpansionPanel">
          <input #file type="file" accept="image/*" (change)="load(file.files)" />
          <p>Type: {{imageType}}</p>
          <p>Width: {{imageWidth}} px</p>
          <p>Height: {{imageHeight}} px</p>
        </div>
        <mat-action-row>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
        <mat-expansion-panel-header>
          <mat-panel-title>Settings</mat-panel-title>
          <mat-panel-description>{{bitsSubpx}} bits/subpixel - {{bitsAlpha}} bits/alpha</mat-panel-description>
        </mat-expansion-panel-header>
        <div class="divExpansionPanel">
          <label id="labelBitsSubpx">Bits per subpixel</label>
          <mat-slider thumbLabel tickInterval="1" min="0" max="8" step="1" value="1" aria-labelledby="labelBitsSubpx"
            [(ngModel)]="bitsSubpx" (change)="calculateCapacityPreview()"></mat-slider>
          <label id="labelBitsAlpha">Bits per pixel transparency</label>
          <mat-slider thumbLabel tickInterval="1" min="0" max="8" step="1" value="1" aria-labelledby="labelBitsAlpha"
            [(ngModel)]="bitsAlpha" (change)="calculateCapacityPreview()"></mat-slider>
          <p>Width: {{imageWidth}} px</p>
          <p>Height: {{imageHeight}} px</p>
          <p>Capacity: {{capacityHuman}}</p>
        </div>
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)">
        <mat-expansion-panel-header>
          <mat-panel-title>Input data</mat-panel-title>
          <mat-panel-description></mat-panel-description>
        </mat-expansion-panel-header>
        <div class="divExpansionPanel">
          <mat-radio-group class="radioGroup" [(ngModel)]="dataSource">
            <mat-radio-button value="1">File</mat-radio-button>
            <input #file type="file" accept="*/*" [disabled]="dataSource!=='1'" />
            <p>Filename: </p>
            <p>Size: </p>
            <mat-radio-button value="2">Text</mat-radio-button>
            <textarea matInput matTextareaAutosize matAutosizeMinRows="4" matAutosizeMaxRows="20"
              [disabled]="dataSource!=='2'" [(ngModel)]="dataText"></textarea>
            <mat-radio-button value="3">Random</mat-radio-button>
            <p>Fill with random data</p>
          </mat-radio-group>
        </div>
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
        </mat-action-row>
      </mat-expansion-panel>

    </mat-accordion>

    <button mat-flat-button color="primary" (click)="encode()">Encode</button>
  </div>

  <div class="divColumn2">
    <mat-tab-group animationDuration="0ms">
      <mat-tab label="Source">
        <div class="imgbox">
          <img class="center-fit" [src]="sourceImageURL" *ngIf="sourceImageURL">
        </div>
      </mat-tab>
      <mat-tab label="Encoded">
        <div class="imgbox">
          <img class="center-fit" [src]="encodedImageURL" *ngIf="encodedImageURL">
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

</div>
