.flex-contents-col {
  display: flex;
  flex-direction: column;
  flex: auto;
  overflow: auto;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
