<div class="flex-contents-col full-height">
  <h1 class="center">
    <mat-icon [inline]="true">image_search</mat-icon>StegApp
  </h1>
  <br>
  <p class="center">Open source webapp to encode information in images<br>Everything is processed locally. Your images
    and data never leave your device</p>
  <div class="center">
    <a href="https://en.wikipedia.org/wiki/Steganography" target="_blank">Steganography on wikipedia</a>
  </div>
  <br>
  <br>
  <div class="center">
      <a mat-raised-button href="https://github.com/carru/stegapp/" target="_blank" aria-label="StegApp on GitHub"><img class="margin-right" src="../../assets/github.svg"/>StegApp on GitHub</a>
  </div>
</div>
